body {
	background-color: light gray;	
}

#mainWrapper {
	width: 700px;
	height: 1000px;
	background-color: gray;
	position: relative;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 10px;
	padding: 10px;
	z-index: 5;
}

#cr-stage {
	width: 700px;
	height: 700px;	
	z-index: 10;
}

#textPanel {
	width: 680px;
	height: 100px;
	position: absolute;
	top: 800px;
	background-color: white;	
	padding: 10px;
	font-size: 20px;
}

.actionButton {
	position: absolute;
	top: 735;
	height: 40px;
	width: 150px;
	background-color: white;
	cursor: pointer;
	text-align: center;
	line-height: 40px;	
}

#ab1 {
	left: 100px;	
}

#ab2 {
	left: 290px;
}

#ab3 {
	left: 470px;
}

.itemBox {
	position: absolute;
	left: 740px;
	width: 80px;
	height: 80px;	
}

#item1 {
	top: 10px;
}

#item2 {
	top: 110px;	
}

#item3 {
	top: 210px;	
}

#item4 {
	top: 310px;	
}